
body {
  background: #fff0cb;
  margin:0
  
}
  

.sheesh {
  font-family: "Didot", sans-serif;
  color: #ffa2dd;
  font-size: 40px;
  
}


.home-page nav{
  display:flex;
  justify-content:space-between;
margin:50px auto 10px auto;
width:80%;
}
nav a {
  transform:500ms;
  box-shadow: 4px 11px 25px -1px rgba(0,0,0,0.63);
-webkit-box-shadow: 4px 11px 25px -1px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 11px 25px -1px rgba(0,0,0,0.63);
}
nav a:hover{
transform:translateY(4px);
box-shadow: 4px 11px 25px -5px rgba(0,0,0,0.63);
-webkit-box-shadow: 4px 11px 25px -5px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 11px 25px -5px rgba(0,0,0,0.63);

}

  .button {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color:#3C5141;
    background-color: #ffa2dd;
    border-radius: 30px;
    outline: none;
  }
  .button1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #ffa2dd;
    border-radius: 30px;
    outline: none;
  }
  
  .button2 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #ffa2dd;
    border-radius: 30px;
    outline: none;
  }

  .button3 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #3C5141;
    background-color: #ffa2dd;
    border-radius: 30px;
    outline: none;
  }

  .logo {
    width: 6%;
    height: 3%;
  }

  .menufont {
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      display: inline-block;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      color: #3C5141;
      background-color: #ffe2a2;
      border-radius: 20px;
      outline: none;
  }
  .menufont2 {
      font-family: "Didot", sans-serif;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      color: #ffa2dd;
      outline: none;
  }
  .menu-page {
      background-color: antiquewhite;
    }
    .menu-layout {
      width: 80%;
      margin: auto;
      display: flex;
    }
    .menu-layout div {
      position: relative; /* tells absolutely positioned images how to place themselves in relation to the box they're in */
      flex: 1;
      background-color: white;
      margin: 20px;
      border-radius: 12px;
      padding: 20px 40px; /* top-bottom, left-right */
      box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.75);
      /* shadow generator here: https://cssgenerator.org/box-shadow-css-generator.html */
    }
    .pure-tea-img {
      position: absolute;
      bottom: 20px;
      left: 45px;
      margin-top: 300px;
      width: 70%
    }
    .boba-layout {
      display: flex;
      background-color: white;
      margin-top: 30px
    }
    .boba-layout div {
      flex: 1;
      padding: 10px;
      text-align: center;
    }
    .scale-img {
      transition: 500ms;
    }
    .scale-img:hover {
      transform: scale(1.1);
    }
    .bobas-img {
      width: 30%;

    }
    .honeyrose-img {
      position: absolute;
      top:70px;
      right: 5px;
      width: 55%;
      height: 27%;
      margin-top: 250px;
      z-index:0;
    }

.aboutus-page {
  width: 20%;
  height: 20%;
}

.aboutusfont1 {
  font-family: "Didot", sans-serif;
  font-size:50px;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  color: #ffa2dd;
  border-radius: 20px;
  outline: none;
}

.container {
  Background-image: url('https://i0.wp.com/www.onegreenplanet.org/wp-content/uploads/2022/10/shutterstock_221315899-scaled-e1665713149352.jpg?resize=1536%2C801&ssl=1');
  Background-size:cover;
  height: 500px;
  background-position:50% 10%;
}

.ordernow-page {
  Background-image: url('https://cdn.pixabay.com/photo/2018/03/27/17/26/cat-3266675_960_720.jpg');
  Background-size:cover;
  height: 500px;
  background-position:50% 10%;
}

.logoabout {
 width: 6%;
height: 3%; 
}

.ordernow-font {
  font-family: "Didot", sans-serif;
  font-size: 50px;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  color: #ffa2dd;
  border-radius: 20px;
  outline: none;
}

.contactfont {
  font-family: "Didot", sans-serif;
  font-size: 50px;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  color: #ffa2dd;
  border-radius: 20px;
  outline: none;
}

.submitbutton {
  font-family: "Didot",sans-serif;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  background-color: #ffa2dd;
  border-radius: 10px;
  outline: none;
}

.messagebox {
      height:300px;
      font-size:14pt;
  }

.bobacatgif-img {
  height: 200px;
  position: absolute;
      top: 90px;
      right: 400px;
}

.scale2-img {
  transition: 1s ease;
}
.rotate-img:hover{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
}

.containerorder {
  Background-image: url('https://s2.thingpic.com/images/S4/yZr6FWV45vXP25T4LPcu2vVZ.png');
  Background-size:cover;
  height: 500px;
  background-position:50% 10%;
}

.ordernow-font {
  font-family: "Didot",sans-serif;
  font-size: 20px;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  border-radius: 10px;
  outline: none;
}

.ordernow1-img {
  position: absolute;
  size-adjust: 18px;
  top: 220px;
  margin-top: 100px;
  width: 8%
  
}


.ordernow2-img {
  position: absolute;
  size-adjust: 10px;
  top: 180px;
  right: 750px;
  margin-top: 100px;
  width: 6.8%
}

.ordernow3-img {
  position: absolute;
  size-adjust: 10px;
  top: 60px;
  right: 450px;
  margin-top: 250px;
  width: 13%
}